.text1{
    
    padding: 40px;
    font:  sans-serif;
    font-size: xlarge;
    font-weight: bold;
    color: white;
    font-style: normal;
    float: inline-start;
    background-color: rgb(82, 238, 204);

}
#product{
    padding: 40px;
    
}
.text2{
    font:  sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    color: white;
float: inline-end;
    background-color: rgb(82, 238, 204);
}
.text3{
    font-size: x-large;
    font-weight: bold;
    float: inline-end;
    background-color: rgb(82, 238, 204);
    
}

.text4{
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(82, 238, 204);
    align-content: flex-end;
    
}
.text5{
    align-content: flex-end;

}
#text6{
text-align: center;
align-items: flex-end;
}
#text7{
text-align: center;
}
#text8{
    font-size: x-small;
}